.git
.gitattributes
.gitignore
.gradle
.idea
.vscode
build
out
**/node_modules
src/frontend/dist
src/frontend/storybook-static
src/frontend/playwright-report
src/frontend/test-results
*.iml
*.log
HELP.md
README.md
compose.yaml
